<div class="float-left">
    <table class="menu">
        <tr><td><a href="#springUrl("/departments")">Подразделения</a></td></tr>
        <tr><td><a href="#springUrl("/posts")">Должности</a></td></tr>
        <tr><td><a href="#springUrl("/case_folders")">Дела</a></td></tr>
        <tr><td><a href="#springUrl("/persons")"><img src="/documents/static/images/persons20.png" alt="Физические лица"><span>Физлица</span></a></td></tr>
        <tr><td><a href="#springUrl("/documents")">Документы</a></td></tr>
    </table>
</div>