a:link {
    color:#326ca6;
}

a:visited {
    color:#326ca6;
}

a:hover {
    color:#326ca6;
}

div.float-left {
    float: left;
}

table.list {
    border-collapse:collapse;
}

.list td, th {
    border:1px solid #ddd;
}
