<!DOCTYPE html>
<html>
<head>
    <title>Должность [$caseCommand.caseId]</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="POST">
    #springFormHiddenInput("caseCommand.caseId" "")
    <table border="0">
        <tr>
            <td>Код:</td>
            <td>#springFormInput("caseCommand.code" "")</td>
        </tr>
        <tr>
            <td>Наименование:</td>
            <td>#springFormInput("caseCommand.name" "")</td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>#springFormInput("caseCommand.description" "")</td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="submit" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>