<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Дела</title>
</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        Дела
        <br>
        <img src="$paths.images/folders64.png" alt="Дела">
        #addControl("$paths.base$paths.caseFolders/-1")
        <table class="list">
            <tr>
                <th>Префикс нумерации</th>
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
            #foreach ($caseFolder in $caseFolders)
                <tr>
                    <td><a href="#springUrl("$paths.caseFolders/$caseFolder.caseId")">$caseFolder.code</a></td>
                    <td>$caseFolder.name [$caseFolder.caseId]</td>
                    <td>$caseFolder.description</td>
                </tr>
                <tr>
                    <td/>
                    <td colspan="2">
                        <ul>
                            #foreach ($corrspondent in $caseFolder.correspondents)
                                <li><a href="#springUrl("$paths.caseFolders/$caseFolder.caseId$paths.Correspondents/$corrspondent.correspondentId")">$corrspondent.displayName [$corrspondent.correspondentId] $corrspondent.fullName</a></li>
                            #end
                            <li>
                                #addControl("$paths.base$paths.caseFolders/$caseFolder.caseId$paths.Correspondents/-1")
                            </li>
                        </ul>
                    </td>
                </tr>
            #end
        </table>
    </div>
</body>
</html>