<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Коррепондент [$correspondentCommand.correspondentId]</title>
    <meta charset="UTF-8">
</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        <form method="POST">
            #springFormHiddenInput("correspondentCommand.correspondentId" "")
            #springFormHiddenInput("correspondentCommand.caseFolder.caseId" "")
            <table border="0">
                <tr>
                    <td>Наименование:</td>
                    <td>#springFormInput("correspondentCommand.displayName" "")</td>
                </tr>
                <tr>
                    <td>Описание:</td>
                    <td>#springFormInput("correspondentCommand.fullName" "")</td>
                </tr>
                #include("common/edit_form_submit.txt")
            </table>
        </form>
    </div>
</body>
</html>