<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Подразделения</title>
</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        Подразделения
        <br>
        <img src="/documents/static/images/depts64.png" alt="Подразделения">
        <form method="get" action="/documents/departments/-1">
            <input type="submit" value="Добавить"/>
        </form>
        <table class="list">
        #foreach ($department in $departments)
            <tr>
                <td><a href="#springUrl("/departments/$department.departmentId")">$department.code $department.shortName [$department.departmentId]</a></td>
                <td>$department.fullName</td>
            </tr>
        #end
        </table>
    </div>
</body>
</html>