<!DOCTYPE html>
<html>
<head>
    <title>Подразделение [$departmentCommand.departmentId]</title>
</head>
<body>
<form method="POST">
    <table border="0">
        <tr>
            <td>Code:</td>
            <td>#springFormInput("departmentCommand.code")</td>
        </tr>
        <tr>
            <td>Short name:</td>
            <td>#springFormInput("departmentCommand.shortName")</td>
        </tr>
        <tr>
            <td>Full name:</td>
            <td>#springFormInput("departmentCommand.fullName")</td>
        </tr>
    </table>

    <input type="submit" value="submit"/>
</form>
</body>
</html>