<!DOCTYPE html>
<html>
<head>
    <title>Подразделение [$departmentCommand.departmentId]</title>
    #include("common/styles_import.txt")
    <meta charset="UTF-8">
</head>
<body>
<form method="POST">
    #springFormHiddenInput("departmentCommand.departmentId" "")
    <table border="0">
        <tr>
            <td>Код:</td>
            <td>#springFormInput("departmentCommand.code" "")</td>
        </tr>
        <tr>
            <td>Короткое наименование:</td>
            <td>#springFormInput("departmentCommand.shortName" "")</td>
        </tr>
        <tr>
            <td>Полное наименование:</td>
            <td>#springFormInput("departmentCommand.fullName" "")</td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Сохранить" />
            </td>
        </tr>
    </table>
</form>

    <table>
        #foreach ($employee in $departmentCommand.employees)
            <tr>
                <td>$employee.post.displayName</td>
                <td><a href="#springUrl("/employees/$employee.employeeId")">$employee.person.displayName</a></td>
                <td>$employee.dateBegin</td>
                <td>#if ($employee.dateEnd) $employee.dateEnd #else #end</td>
            </tr>
        #end
    </table>

</body>
</html>