<!DOCTYPE html>
<html>
<body>
<style>
    table
    {
        border-collapse:collapse;
    }
    table, td, th
    {
        border:1px solid #44769a;
    }
</style>
    <table>
    #foreach ($department in $departments)
        <tr>
            <td>$department.shortName</td>
            <td>$department.fullName</td>
        </tr>
    #end
    </table>
</body>
</html>