<!DOCTYPE html>
<html>
<head>
    #springBind("departmentCommand.departmentId")
    <title>Подразделение [$departmentCommand.departmentId]</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="POST">
    #springFormHiddenInput("departmentCommand.departmentId" "")
    <table border="0">
        <tr>
            <td>Code:</td>
            <td>#springFormInput("departmentCommand.code" "")</td>
        </tr>
        <tr>
            <td>Short name:</td>
            <td>#springFormInput("departmentCommand.shortName" "")</td>
        </tr>
        <tr>
            <td>Full name:</td>
            <td>#springFormInput("departmentCommand.fullName" "")</td>
        </tr>
    </table>

    <table>
        #foreach ($employee in $employees)
            <tr>
                <td>$employee.post.displayName</td>
                <td>$employee.person.displayName</td>
                <td>$employee.dateBegin</td>
                <td>$employee.dateEnd</td>
            </tr>
        #end
    </table>

    <input type="submit" value="submit"/>
</form>
</body>
</html>