<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Документ [$docCommand.documentId]</title>
    <meta charset="UTF-8">

    <script>
        function controlsChanged()
        {
            document.getElementById("controlsForm").submit();
        }
    </script>

</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        Документ
        <br>
        <img src="$paths.images/docs64.png" alt="Документ">

        <table border="0">
            <form method="POST" id="controlsForm" action="$paths.base$paths.documents/$docCommand.documentId/controlsChanged">
                <tr>
                    <td>Тип документа:</td>
                    <td>#springFormRadioButtons("docControlsCommand.docType" $docTypes '&nbsp;' 'onchange="controlsChanged()"')</td>
                </tr>
                <tr>
                    <td>Дело:</td>
                    <td>#springFormSingleSelect("docControlsCommand.caseId" $caseFolders 'onchange="controlsChanged()"')</td>
                </tr>
            </form>

            <form method="POST" id="editForm" action="/documents/documents/$docCommand.documentId/save">
                #springFormHiddenInput("docCommand.documentId" "")
                    <tr>
                        <td>Корреспондент:</td>
                        <td>#springFormSingleSelect("docCommand.correspondentId" $correspondents '')</td>
                    </tr>
                    <tr>
                        <td>Регистрационный номер:</td>
                        <td>#springFormInput("docCommand.innerNumber" "")</td>
                    </tr>
                    <tr>
                        <td>Автор:</td>
                        #if ($docControlsCommand.docType.name() == "INCOMING")
                            <td>#springFormInput("docCommand.outerAuthor" "")</td>
                        #else
                            <td>#springFormSingleSelect("docCommand.authorId" $authors "")</td>
                        #end
                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td>#springFormTextarea("docCommand.description" "rows=5")</td>
                    </tr>
                    #include("common/edit_form_submit.txt")
            </form>
        </table>

        #if ($docCommand.documentId != -1)

            <div class="hdivider">
            </div>

            <form method="get" action="$paths.base$paths.documents/$docCommand.documentId/fileUpload">
                <input type="submit" value="Загрузить изображение" />
            </form>

            <img src="$paths.base$paths.documents/$docCommand.documentId/getImage" alt="Скан документа">
        #end
    </div>
</body>
</html>