<!DOCTYPE html>
<html>
<head>
    <title>Документ [$docCommand.documentId]</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="POST">
    #springFormHiddenInput("docCommand.documentId" "")
    <table border="0">
        <tr>
            <td>Регистрационный номер:</td>
            <td>#springFormInput("docCommand.innerNumber" "")</td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>#springFormTextarea("docCommand.description" "")</td>
        </tr>
        #include("common/edit_form_submit.txt")
    </table>
</form>

<form method="get" enctype="multipart/form-data" action="/documents/documents/$docCommand.documentId/fileUpload">
    <input type="submit" value="Загрузить изображение" />
</form>
</body>
</html>