<!DOCTYPE html>
<html>
<head>
    <title>Документ [$docCommand.documentId]</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="POST">
    #springFormHiddenInput("docCommand.documentId" "")
    <table border="0">
        <tr>
            <td>Регистрационный номер:</td>
            <td>#springFormInput("docCommand.innerNumber" "")</td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td>#springFormTextarea("docCommand.description" "")</td>
        </tr>
        #include("common/edit_form_submit.txt")
    </table>
</form>

<form method="post" enctype="multipart/form-data" action="/documents/documents/$docCommand.documentId/fileUpload">
    <table>
        <tr>
            <td>Upload File:&nbsp;</td>
            <td>
                #springBind("fileCommand.file")
                <input type="file" id="${status.expression}" name="${status.expression}" value="$!status.value" />

            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>