<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Физическое лицо [$personCommand.personId]</title>
    <meta charset="UTF-8">
</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        Физическое лицо
        <br/>
        <img src="$paths.images/persons64.png" alt="Физическое лицо">
        <form method="POST">
            #springFormHiddenInput("personCommand.personId" "")
            <table border="0">
                <tr>
                    <td>Фамилия:</td>
                    <td>#springFormInput("personCommand.lastName" "")</td>
                </tr>
                <tr>
                    <td>Имя:</td>
                    <td>#springFormInput("personCommand.firstName" "")</td>
                </tr>
                <tr>
                    <td>Отчество:</td>
                    <td>#springFormInput("personCommand.patronimicName" "")</td>
                </tr>
                #include("common/edit_form_submit.txt")
            </table>
        </form>

        #if ($personCommand.personId != -1)
            <div class="hdivider">
            </div>
            <form method="get" action="$paths.base$paths.persons/$personCommand.personId$paths.employees/-1">
                <input type="submit" value="Добавить"/>
            </form>
            <table class="list">
                #foreach ($employee in $personCommand.assignments)
                    <tr>
                        <td>$employee.post.displayName</td>
                        <td><a href="#springUrl("$paths.persons/$personCommand.personId$paths.employees/$employee.employeeId")">$employee.person</a></td>
                        <td>$employee.dateBegin</td>
                        <td>#if ($employee.dateEnd) $employee.dateEnd #else #end</td>
                    </tr>
                #end
            </table>
        #end
    </div>
</body>
</html>