<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Физические лица</title>
</head>
<body>
    #parse("common/navigation.vm")

<div class="contentwrap">
    Физические лица
    <br/>
    <img src="$paths.images/persons64.png" alt="Физические лица">
    #addControl("$paths.base$paths.persons/-1")
    <table class="list">
        #foreach ($person in $persons)
            <tr>
                <td><a href="#springUrl("$paths.persons/$person.personId")">$person.fullName [$person.personId]</a></td>
            </tr>
        #end
    </table>
</div>
</body>
</html>