<!DOCTYPE html>
<html>
<head>
    #include("common/styles_import.txt")
    <title>Должности</title>
</head>
<body>
    #parse("common/navigation.vm")

    <div class="contentwrap">
        Должности
        <br>
        <a href="#springUrl("/posts/-1")">Создать новую</a>
        <table class="list">
            <tr>
                <th>Наименование</th>
                <th>Полное наименование</th>
            </tr>
        #foreach ($post in $posts)
            <tr>
                <td><a href="#springUrl("/posts/$post.postId")">$post.displayName [$post.postId]</a></td>
                <td>$post.fullName</td>
            </tr>
        #end
        </table>
    </div>
</body>
</html>